.main{
  padding: 40px;
}
.btn{
    width:200px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(191, 191, 248);
    color: white;
    border: none;
  
}
.one,.two,.three{
  background-color: rgb(72, 172, 172);
  width:400px;
  padding: 20px;
  text-align: center;
  margin:auto;
    margin-top: 30px;
}
.two{
    background-color: rgb(240, 151, 227);
  }
  .three{
    background-color: rgb(229, 190, 93);
  }
  button.btn1{
  background-color: rgb(223, 21, 21);
 color:white;
 font-weight: bold;
 width: 200px; 
 display: block;
 margin: auto;
 border-radius: 6px;
 border: none;
 margin-top: 20px;
 padding: 15px; 
 margin-bottom:20px;
}
 